:root{
  text-align: right;
  font-family: Arial, Helvetica, sans-serif;

}
.body{
  margin: 0;

}

.Footer{
  text-align: center;
  justify-content: center;
}
.SideBar{
  grid-area: sidebar;
}
.MainCon{
}
.MainCon{
  display: grid;
  grid-template-columns: auto 100px;
  grid-template-areas: 
  "main sidebar";
}
.SideBarText{
  text-align: right;
}
.ToDoList{
  display: grid;
  grid-area: main;
}

.ToDoItem{
margin: 10px;

}

.HeaderClass{
  display: flex;
  height: 100px;
  background: #333;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: white;
}